{
  "presets": ["env"],
  "plugins": [
    "transform-object-rest-spread",
    "babel-plugin-inline-import",
    [
      "transform-runtime", {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
